<h2 class="headlines">Категорії</h2>
<div class="categories">
  <div class="category">
    <img class="icon" src="/assets/image/все_для_дому.png" alt="home">
    <h5 class="headlines">Все для дому</h5>
  </div>
  <div class="category">
    <img class="icon" src="/assets/image/нерухомість.png" alt="нерухомість">
    <h5 class="headlines">Нерухомість</h5>
  </div>
  <div class="category">
    <img class="icon" src="/assets/image/одяг.png" alt="одяг та взуття">
    <h5 class="headlines">Одяг та взуття</h5>
  </div>
  <div class="category">
    <img class="icon" src="/assets/image/дитячі_товари.png" alt="дитячі товари">
    <h5 class="headlines">Дитячі товари</h5>
  </div>
  <div class="category">
    <img class="icon" src="/assets/image/тварини.png" alt="тварини">
    <h5 class="headlines">Світ тварин</h5>
  </div>
  <div class="category">
    <img class="icon" src="/assets/image/телефони.png" alt="телефони та комп'ютери">
    <h5 class="headlines">Телефони та комп'ютери</h5>
  </div>
  <div class="category">
    <img class="icon" src="/assets/image/побутова_техніка.png" alt="техніка">
    <h5 class="headlines">Побутова техніка</h5>
  </div>
  <div class="category">
    <img class="icon" src="/assets/image/машини.png" alt="авто">
    <h5 class="headlines">Авто та велосипеди</h5>
  </div>
  <div class="category">
    <img class="icon" src="/assets/image/аксесуари.png" alt="аксесуари">
    <h5 class="headlines">Аксесуари</h5>
  </div>
  <div class="category">
    <img class="icon" src="/assets/image/hobby.png" alt="хобі">
    <h5 class="headlines">Хобі та дозвілля</h5>
  </div>
  <div class="category">
    <img class="icon" src="/assets/image/туризм.png" alt="туризм">
    <h5 class="headlines">Туризм та активний відпочинок</h5>
  </div>
  <div class="category">
    <img class="icon" src="/assets/image/інше.png" alt="інше">
    <h5 class="headlines">Інше</h5>
  </div>
</div>
