<div class="search_filter">
  <div class="search-container">
    <input type="text" placeholder="Що хочете знайти?">
    <button type="submit" class="button">Пошук <img class="icon" src="/assets/image/Search.png" alt="search"></button>
  </div>
  <div class="filter-buttons">
    <button class="filter-button" data-filter="Buy">Купити</button>
    <button class="filter-button" data-filter="Exchange">Обміни</button>
    <button class="filter-button" data-filter="Auction">Аукціони</button>
  </div>
</div>
<app-categories></app-categories>
<app-new-auctions></app-new-auctions>
