/* You can add global styles to this file, and also import other style files */
@font-face{
  font-family: "Proxima Nova";
  src: url("/assets/fonts/ProximaNova-Bold.woff");
  font-weight: bold;
}
@font-face{
  font-family: "Proxima Nova";
  src: url("/assets/fonts/ProximaNova-Regular.woff");
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Proxima Nova";
  max-width: 100%;
}

.container_body .page-content {
  width: calc(100vw - 50px);
  padding: 30px;
}
